<Iguana>

    <Parser>
        <Lookahead>1</Lookahead>
        <GSSLookupImpl>HASH_MAP</GSSLookupImpl>
        <MatcherType>DFA</MatcherType>
        <HashMapImpl>Java</HashMapImpl>
        <EnvironmentImpl>Trie</EnvironmentImpl>
    </Parser>

    <Logging>
        <LogLevel>NONE</LogLevel>
    </Logging>

</Iguana>