<Iguana>

    <Parser>
        <Lookahead>1</Lookahead>
        <GSSLookupImpl>HASH_MAP</GSSLookupImpl>
        <MatcherType>Graph</MatcherType>
        <HashMapImpl>INT_OPEN_ADDRESSING</HashMapImpl>
        <EnvironmentImpl>INT_ARRAY</EnvironmentImpl>
    </Parser>

    <Logging>
        <LogLevel>INFO</LogLevel>
    </Logging>

</Iguana>